<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best-todo</title>
</head>
        <body>

<div>
    <form method="POST" action="/task/create" >
      <!--  id : <input type="number" name="id"><br><br>-->
        ТАСК: <input type="text" name="task"><br><br>
        STATUS(OPEN; CLOSED): <input type="text" name="status"><br><br>
        <input type="submit" value="Добавить новый Таск">
    </form>
</div>
<br>
<div>
    <form method="POST" action="/task/list" >
        <input type="submit" value="Получить список всех тасков">
    </form>
</div>
        </body>
</html>