<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best-todo</title>
</head>
<body>




<!--<div>
    <form method="POST" action="/task/create" >
        <input type="text" name="task1" placeholder="Введите сообщение"/>
        <button type="submit">Добавить новый ТАСК</button>
   </form>
</div>-->

<div>
    <form method="POST" action="/task/create" >
        id : <input type="number" name="id"><br>
        ТАСК: <input type="text" name="tMessage"><br>
        STATUS(OPEN; CLOSED): <input type="text" name="status"><br>
        <input type="submit" value="Отправить">
    </form>

    <br>
 <!--   //тут мы будем ненять ключ - таск выполнен-->
    <br>

    <form method="POST" action="/closeTask" >
        Изменить Статус: <input type="text" name="status"><br>
       <!-- Статус: <input type="text" name="status">-->
        <input type="submit" value="Отправить">
    </form>

</div>


    <p>Получить список ТАСКОВ <a href="/task">here</a></p>


<div>
<ul>
    {{#spisokTaskov}}
        <li>{{id}} : {{tMessage}}:{{status}}</li>
    {{/spisokTaskov}}
</ul>
</div>


</body>
</html>