<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best-todo</title>
</head>
        <body>

<div>
    <form method="POST" action="/task/create" >
        id : <input type="number" name="id"><br>
        ТАСК: <input type="text" name="tMessage"><br>
        STATUS(OPEN; CLOSED): <input type="text" name="status"><br>
        <input type="submit" value="Отправить">
    </form>

    <br>
 <!--   //тут мы будем ненять ключ - таск выполнен-->
    <br>

    <form method="POST" action="/closeTask" >
        Изменить Статус. Введите ID: <input type="number" name="id"><br>
       <!-- Статус: <input type="text" name="status">-->
        <input type="submit" value="Отправить">
    </form>

    </div>

    <p>Получить список ТАСКОВ <a href="/task">here</a></p>
    <p>Добавить данные в Базу   <a href="/baza">here</a></p>
<br>
<!--   //тут мы будем добавлять даные в базу методом ПОСТ-->
<br>
<form method="POST" action="/adToDb" >
    Добавить запись в базу: <input type="text" name="dbquery"><br>
    <!-- Статус: <input type="text" name="status">-->
    <input type="submit" value="Отправить">
</form>

<br>
<!--   //тут мы будем ПОЛУЧАТЬ ДННЫЕ из базы -->
<br>

<form method="POST" action="/getDataFromDb" >
    Получить данные из базы введите SQL запрос: <input type="text" name="dbGetData"><br>
    <!-- Статус: <input type="text" name="status">-->
    <input type="submit" value="Отправить">
</form>

    <div>

<!--Тут мы выводим на экран список тасков из Листа-->
        <ul>
    {{#spisokTaskov}}
       <!-- <li>ID = {{id}} : Таск = {{tMessage}}:Статус таска= {{status}}</li>-->
      ****************************
        <li>ID = {{id}} </li>
        <li>Таск = {{tMessage}}</li>
        <li>Статус таска= {{status}}</li>
        <br>

    {{/spisokTaskov}}
        </ul>
        <!--Тут мы выводим на экран список тасков из БАЗЫ-->
        <ul>
            {{#spisokTaskov}}

                ****************************
                <li>ID = {{id}} </li>
                <li>Таск = {{tMessage}}</li>
                <li>Статус таска= {{status}}</li>
                <br>

            {{/spisokTaskov}}
        </ul>

    </div>

        </body>
</html>